OPENAQ_API_KEY =

COUNTRIES_URL =
LOCATIONS_URL =

COUNTRY_PATH =
LOCATION_PATH =
SENSOR_PATH =
MEASUREMENT_PATH =

COUNTRY_LOG_PATH =
LOCATION_LOG_PATH =
SENSOR_LOG_PATH =
MEASUREMENT_LOG_PATH =

LOCATION_REF_PATH =
SENSOR_REF_PATH =